[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Tidings
Icon=harbour-tidings
Exec=harbour-tidings

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-tidings
Permissions=Internet;UserDirs;RemovableMedia;Audio;Videos
